{% extends "layout.html" %}

{% block body %}
    <div class="block">
        <a class="btn btn-primary" href="{{url_for('display',userid=userid)}}">&#8592;Back</a>
    </div>
    <form methods="POST">
        <div class="block">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Add Event</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" autofocus autocomplete="off" placeholder="event name" name="Event">
            </div>
        </div>
        <div class="block">
            <div class="input-group mb-3">
                <input type="date" class="form-control" placeholder="event date" aria-label="date" name="Date">
                <span class="input-group-text">at</span>
                <input type="time" class="form-control" placeholder="event time" aria-label="time" name="Time">
            </div>
        </div>
        <div class="block">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
    <style>
        .block{
            padding-top:20px;
            padding-left: 20px;
            padding-right: 20px;
        }
        
    </style>
{% endblock %}